:root
{
    --bg: hsl(0 0% 5%);
    --bg2: hsl(0 0% 10%);
    --text-main: hsl(0 0% 100%);
    --text-sec: hsl(0 0% 95%);
    --hover: hsl(0, 100%, 42%);
    --lining: hsl(0 0% 0%);
    transition: background-color 0.4s, color 0.4s;
}

html
{
    scroll-behavior: smooth;
}

body
{
    color: var(--text-main);
    font-family: 'Montserrat';
    margin: 0px;
    padding: 0px;
}

body, .desktop-nav, .introduction, .nav-links ul li a, .intro-sec, .agen-acc img {
  transition: background-color 0.4s, color 0.4s, filter 0.4s;
}

#home
{
    width: 100%;
    height: fit-content;
}

.desktop-nav
{
    width: 100%;  
    height: 20vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg);
}

.desktop-nav h1
{
    font-size: 50px;
    font-weight: 700;
    margin-right: 200px;
    margin-left: 20px;
    font-style: italic;
}

.desktop-nav h1:hover
{
    cursor: pointer;
}

.desktop-nav span
{
    font-weight: 700;
    color: var(--hover);
    font-family: 'Dancing Script';
    font-size: 50px;
}

.nav-links
{
    display: flex;
    flex-direction: row;
}

.main-li
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    list-style-type: none;
    margin: 0px 2.5vh 0px ;
    padding: 0px;
    width: fit-content;
}

.main-li li
{
    margin: 20px;
    list-style-type: none;
}

.main-li a
{
    text-decoration: none;
    color: var(--text-main);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    font-family: 'Montserrat';
}

.main-li a:hover
{
    text-decoration: none;
    color: var(--hover);
    transition: all 0.3s ease-in-out;
}

.main-li a:not(:hover)
{
    transition: all 0.3s ease-in-out;
}


.main-li button:hover
{
    background-color: transparent;
    color: var(--bg);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.trans
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 2.5vh;
    padding: 0px;
    list-style: none;
}

.trans li
{
    margin: 0px 10px 0px 10px;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
}

.trans li a:hover
{
    color: var(--hover);
    transition: all 0.3s ease-in-out;
}

.trans li a:not(:hover)
{
    transition: all 0.3s ease-in-out;
}

.trans a
{
    color: var(--text-main);
    text-decoration: none;
}

.selected a
{
    color: var(--hover);
    text-decoration: none;
    text-underline-offset: 3px;
}

.ver-sep
{
    height: 25px;
    width: 1px;
    background-color: var(--text-main);
    margin: auto;
}

.scroll-btns
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 6vh;
    position: fixed;
    top: 40vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    margin-left: 10px;
}

.visible 
{
    opacity: 1;
    pointer-events: auto;
}

.scroll-btns button
{
    background-color: var(--bg2);
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
}

.scroll-btns img
{
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-btns button:hover
{
    background-color: var(--hover);
    transition: all 0.5s ease-in-out;
}

.introduction
{
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: var(--bg);
}
.img-sec
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 50%;
}

.img-sec img
{
    
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}

.intro-sec h3
{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: var(--text-sec);
}
.intro-sec h1
{
    margin: 0px;
    font-style: oblique;
    font-size: 40px; 
    font-weight: 600;
    text-align: center;
    color: var(--hover);
    
}
.intro-sec h2
{
    margin: 0px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: var(--text-sec);
}

.agen-acc
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.agen-acc img
{
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 100%;
}

.agen-acc img:hover
{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

.agen-acc img:not(:hover)
{
    transition: all 0.3s ease-in-out;
}
.down-arrow
{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.down-arrow img
{
    height: 30px;
    width: 30px;
    background-color: var(--bg);
}

.down-arrow img:hover
{
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.down-arrow img:not(:hover)
{
    transition: all 0.3s ease-in-out;
}

#about
{
    background-color: var(--bg);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: var(--bg);

}

.header-a h1
{
    color: var(--text-main);
    font-size: 40px;
    font-weight: 600;
}

.ab-sec1
{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex: 0 1 auto;
}

.studies
{
    width: 400px;
    height: 200px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    background-color: var(--bg2);
    margin: auto 0px auto 0px;
}

.studies img
{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.studies h1
{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
}

.studies p
{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0px;
}

.desc
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    margin-left: 30px;
}

.desc p
{   
    color: var(--text-main);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    width: 700px;
    text-align: justify;
}

.desc strong
{
    color: var(--text-sec);
}

.desc a
{
    color: var(--text-sec);
    font-weight: 600;
    text-decoration: none;
}

.desc a:hover
{
    color: var(--hover);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.desc span
{
    color: var(--hover);
    font-weight: bold;
}

.hi-desc
{
    font-size: 26px;
}

.ab-sec2
{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 auto;
}

.ski
{
    width: 900px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--bg2);
    color: var(--text-main);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 10px 0px;
    margin: 0px;
}

.ski h1
{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
}

.ski ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 10px;
}

.ski li
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

progress
{
    width: 150px;
    height: 15px;
    border-radius: 30px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

progress::-webkit-progress-bar 
{
    background-color: var(--bg);
    border-radius: 30px;
}

progress::-webkit-progress-value 
{
    background-color: var(--hover);
    border-radius: 30px;
}

#projects
{
    background-color: var(--bg);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-p
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    gap: 0;
    background-color: var(--bg);
}


.header-p h1
{
    color: var(--text-main);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 0px;
}

.header-p p
{
    margin-top: 10px;
    font-size: 26px;
    font-weight: 500;
    color: var(--text-sec);
}

.header-p a
{
    color: var(--text-sec);
    font-weight: 600;
    text-decoration: none;
}

.header-p a:hover
{
    color: var(--hover);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.cards
{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#card
{
    background-color: var(--bg2);
    width: 20vw;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#card:hover
{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#card:not(:hover)
{

    transition: all 0.5s ease-in-out;
}

.f-banner
{
    width: 100%;
    height: 50%;
    background: linear-gradient(45deg, rgba(61, 102, 58, 1) 0%,rgba(66, 212, 53, 1) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.s-banner
{
    width: 100%;
    height: 50%;
    background: linear-gradient(45deg,rgba(138, 110, 66, 1) 0%, rgba(255, 174, 0, 1) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid var(--bg2);
}

.t-banner
{
    width: 100%;
    height: 50%;
    background: linear-gradient(45deg,rgba(86, 53, 102, 1) 0%, rgba(208, 0, 255, 1) 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#c-text
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#c-text h2
{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
}
#c-text a
{
    color: var(--bg);
    background-color: var(--hover);
    padding: 10px 20px;
    border-radius: 20px;
    width: 6vw;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

#c-text a:hover
{
    color: var(--text-main);
    background-color: var(--bg);
    transition: all 0.3s ease-in-out;
}

.c-text-1 a
{
    background: linear-gradient(45deg, rgba(61, 102, 58, 1) 0%,rgba(66, 212, 53, 1) 100%);
}

.c-text-2 a
{
    background: linear-gradient(45deg,rgba(138, 110, 66, 1) 0%, rgba(255, 174, 0, 1) 100%);
}

.c-text-3 a
{
    background: linear-gradient(45deg, rgba(86, 53, 102, 1) 0%, rgba(208, 0, 255, 1) 100%);
}

#contact
{
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
}

.header-c
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: var(--bg);
}

.header-c h3
{
    color: var(--text-sec);
    font-size: 26px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 0px;
    font-weight: 500;
}


.header-c h1
{
    color: var(--text-main);
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
}

.contact-cont
{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form
{
    width: 500px;
    height: 350px;
    border-radius: 30px;
    background-color: var(--bg2);
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 50px;
    padding: 1vh;
}

form h2
{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-main);
}

form input
{
    width: 400px;
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: var(--bg);
    color: var(--text-main);
}

form textarea
{
    width: 400px;
    height: 100px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--bg);
    color: var(--text-main);
}

form button
{
    height: 40px;
    width: 200px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--bg);
    color: var(--text-main);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
}

form button:hover
{
    border: none;
    outline: none;
    background-color: var(--hover);
    color: var(--bg);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.socials
{
    width: 500px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--bg2);
    box-shadow: 0px 0px 25px 10px hsl(0 0% 2%);    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--text-main);
    padding: 1vh;
}

.socials h2
{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-main);
    padding: 10px;
    margin-right: 50px;
}

.socials a
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: fit-content;
    min-width: 200px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--bg);
    color: var(--text-main );
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}

.socials a:hover
{
    background-color: var(--hover);
    transition: all 0.3s ease-in-out;
    color: var(--bg);
    cursor: pointer;
}

.footer
{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.footer p
{
    color: var(--text-main);
    font-size: 22px;
    font-weight: 500;

}
